body
{
	font-size: 12px;
}

.container
{
	width: 95%;
	border: 1px solid #8DB2E3;
}

.tableTitle
{
	background: url(../../../Skins/Default/PluginStyles/JQueryUI/Images/panel_title.png);
	color: #15428B;
	height: 30px;
	font-weight: bold;
	position: relative;
	width: 100%;
	border: 1px solid #8DB2E3;
	line-height: 30px;
	text-align: left;
	text-indent: 30px;
}

.tableList
{
	background-color: #EEF3FF;
	border-collapse: collapse;
	width: 100%;
}
.tableList tr
{
}
.tableList td
{
	border: 1px solid white;
	padding: 5px;
}
.th
{
	text-align: center;
	background: #DFE7FE;
	line-height: 30px;
}
.tb
{
	background: #B7CFFF;
	text-align: center;
}
.fleft
{
	float: left;
}
.fright
{
	float: right;
	position: absolute;
}
.clr
{
	clear: both;
}

.menuTabs
{
	border: 1px solid #8DB2E3;
	padding-left: 10px;
	padding-top: 5px;
}
.tab
{
	border: 1px solid #8DB2E3;
	border-bottom: 0px;
	padding: 5px;
	background: url(../../../Skins/Default/PluginStyles/JQueryUI/Images/panel_title.png);
	color: #15428B;
}
.selectedTab
{
	background: #efe2e2;
}

.listList
{
	padding: 0px;
	margin: 0px;
	background: #EEF3FF;
	background-color: #EEF3FF;
	padding: 5px;
	display: inline-block;
}
.listList li
{
	float: left;
	display: block;
	width: 200px;
	background-color: #EEF3FF;
	margin: 5px;
	margin-top: 20px;
}
.listTitle
{
	font-weight: bold;
	background: url(../../../Skins/Default/Images/report.gif) no-repeat;
	line-height: 32px;
	text-indent: 40px;
}
.listText
{
	font-size: 12px;
	text-indent: 50px;
}


