body,td{font-size:12px;}

A:link {	COLOR: #000000; TEXT-DECORATION: underline}
A:hover {	COLOR: #000000; TEXT-DECORATION: underline}
A:visited {	COLOR: #000000; TEXT-DECORATION: none}

textarea{border:1px solid #8DB2E3;margin-bottom:3px;font-size:12px;}
.tabmargin{margin-bottom:8px;margin-top:3px;}

input{height:20px;}
.input{border:1px solid #8DB2E3;height:20px;font-size:12px;padding-top:3px;padding-left:2px;}
.inputdate{
	border:1px solid #8DB2E3;height:20px;
	font-size:12px;padding-top:3px;
	padding-left:2px;
        background:url(../images/date.gif) 98% 3px no-repeat;
}

.input6{border:1px solid #8DB2E3;font-size:12px;width:200px;}
.toptitle,.toptitle2
{border: 1 solid #82A9DF;
width:100%;height:24px;line-height:24px;margin-bottom:8px;
margin-top:8px;
background:url(../images/r2.gif);
	padding-left:5px;color:#15428B;
	text-align:25px;
	
}
.toptitle5{width:100%;height:23px;line-height:22px;
  background:url(../images/r2.gif);
	padding-left:5px;color:#15428B;
	text-align:25px;}
.toptitle{font-weight:bold;}

.toptitle3{
	border-bottom: 1 solid #82A9DF;
	width:100%;height:32px;
	line-height:30px;
	margin-bottom:8px;
	margin-top:8px;
	background:url(../images/panel_title.png);
	padding-left:5px;color:#15428B;
	font-weight:bold;
}
.edittd{background:#EEF3FF;}

.atitle{background:url(../images/atitlebg.gif) #E0ECFF;
	line-height:25px;
	
	border-top:1px solid #6394CE;margin-bottom:3px;
	}

.btn{
	background:url(../images/btn.gif) #EEF5FD;
        padding-left:2px;padding-right:2px;padding-top:2px;
        border:1px solid #82A9DF;
        color:#000000;height:23px;cursor:hand;margin-right:5px;

}



	


		
/*--°´Å¥--*/

.BtnCss{
text-align:center;
 height:25px;cursor:hand;
margin-right:5px;float:left;padding-top:3px;
border:1px solid #82A9DF;
 background:url(../images/btn.gif) repeat-x;
}
.btn1{}


.btndiv{
text-align:center;

 height:20px;cursor:hand;
margin-right:5px;float:left;padding-top:3px;
border:1px solid #82A9DF;
 background:url(../images/btn.gif) repeat-x;
}



.btndiv a,.btndiv a:hover{cursor:hand;
	color:#000000;padding-top:20px;padding-left:5px;
	text-decoration:none;dislay:block;
	padding-right:8px;text-decoration:none;
}

.btnimg{height:16px;width:16px;display:block;float:left;margin-right:3px;margin-left:3px;
}

.btntxt{line-height:20px;display:block;float:left;margin-right:5px;
}


/*--°´Å¥ END--*/
	




.querytab{border-top:1px solid #CCCCCC;border-left:1px solid #CCCCCC;}
.querytab td{height:22px;border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;padding-left:3px;padding-right:3px;}
.query_title td{
	background:#FFFFFF;
	height:22px;
	background:url(../images/trtitle.gif);
	text-align:center;border-right:1px solid #778899;
	border-bottom:1px solid #778899;}

.txtspace{float:left;line-height:20px;}
.imgspace{float:left;padding-top:3px;height:16px;margin-left:2px;margin-right:2px;}
.cell{width:90;text-align:center;}
.tr2{background:#F9F9F9}
.tr1{background:#FFFFFF}

a.c:link,a.c:hover,a.c:visited{COLOR: #15428B; TEXT-DECORATION: underline}
.btn2{background:url(../images/btn.gif) #EEF5FD;
        padding-left:3px;padding-right:3px;padding-top:3px;
        border:1px solid #cccccc;
        color:#000000;height:20px;cursor:hand;margin-left:2px;}

.searchline{
	backg4round:url(../images/right1.gif) #E0ECFF;width:100%;
	height:20px;
	line-height:25px;
	margin-top:0px;
	text-align:center;}
.ff{background:#FFFFFF;border:0px solid #8DB2E3;margin-bottom:0px;width:90%;}

#info{width:100%;text-align:right;}
.bimg{float:left;width:16px;padding-top:3px;cursor:hand;margin-right:3px;}
.btxt{width:200px;float:left}
.helpimg{float:right;margin-right:3px;margin-top:2px;}
.area01{padding-top:8px;padding-bottom:8px;}
.area02{padding:3px;}
.hrline{border-top:1px dotted #8DB2E3;width:98%;}




.tbFoot
{
	background: #EEF3FF;
	text-align: center;
	width: 100%;
	line-height:30px;
	padding:5px;
	
}
.tbFoot input{ float:right; margin-left:-50%;}
#tbContainer
{
	width: 97%;
	margin-top: 5px;
	margin-left: 10px;
	font-size: 12px;
}