<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Suntek.SAPService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Longtek.HR.CMMS.ServiceAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Suntek.SAPService.Properties.Settings>
            <setting name="Suntek_SAPService_IASService_IASService" serializeAs="String">
                <value>http://192.168.0.8:8081/IASService.asmx</value>
            </setting>
            <setting name="Suntek_SAPService_KP_WebService_KP_WebService"
                serializeAs="String">
                <value>http://192.1.2.203/KP_WebService/KP_WebService.asmx</value>
            </setting>
            <setting name="Suntek_SAPService_ESS_GET_WS_local_ESS_GET_WS"
                serializeAs="String">
                <value>http://localhost/ESHORE.EAI.ESS.WS/ESS_GET_WS.asmx</value>
            </setting>
            <setting name="Suntek_SAPService_EIAC_OA_XWorkQueue_EIAC_OA_XWorkQueue"
                serializeAs="String">
                <value>http://gdeiac-test06.gdeiac.local:8899/EIAC_XWorkqueue8/EIAC_OA_XWorkQueue.asmx</value>
            </setting>
            <setting name="Suntek_SAPService_OA_XWorkQueue_local_EIAC_OA_XWorkQueue"
                serializeAs="String">
                <value>http://localhost/EIAC_XWorkqueue/EIAC_OA_XWorkQueue.asmx</value>
            </setting>
            <setting name="Suntek_SAPService_ESS_GET_WS_ESS_GET_WS" serializeAs="String">
                <value>http://10.16.25.81/ESHORE.EAI.ESS.WS/ESS_GET_WS.asmx</value>
            </setting>
            <setting name="Longtek_HR_CMMS_ServiceAgent_ESS_GET_WS_ESS_GET_WS"
                serializeAs="String">
                <value>http://10.16.25.81/ESHORE.EAI.ESS.WS/ESS_GET_WS.asmx</value>
            </setting>
            <setting name="Longtek_HR_CMMS_ServiceAgent_ESS_GET_WS_local_ESS_GET_WS"
                serializeAs="String">
                <value>http://localhost/ESHORE.EAI.ESS.WS/ESS_GET_WS.asmx</value>
            </setting>
        </Suntek.SAPService.Properties.Settings>
        <Longtek.HR.CMMS.ServiceAgent.Properties.Settings>
            <setting name="Longtek_HR_CMMS_ServiceAgent_IASService_IASService" serializeAs="String">
                <value>http://192.168.0.8:8081/IASService.asmx</value>
            </setting>
            <setting name="Longtek_HR_CMMS_ServiceAgent_KP_WebService_KP_WebService" serializeAs="String">
                <value>http://192.1.2.203/KP_WebService/KP_WebService.asmx</value>
            </setting>
            <setting name="Longtek_HR_CMMS_ServiceAgent_ESS_GET_WS_local_ESS_GET_WS" serializeAs="String">
                <value>http://localhost/ESHORE.EAI.ESS.WS/ESS_GET_WS.asmx</value>
            </setting>
            <setting name="Longtek_HR_CMMS_ServiceAgent_EIAC_OA_XWorkQueue_EIAC_OA_XWorkQueue" serializeAs="String">
                <value>http://gdeiac-test06.gdeiac.local:8899/EIAC_XWorkqueue8/EIAC_OA_XWorkQueue.asmx</value>
            </setting>
            <setting name="Longtek_HR_CMMS_ServiceAgent_EIAC_OA_XWorkQueue_local_EIAC_OA_XWorkQueue" serializeAs="String">
                <value>http://localhost/EIAC_XWorkqueue/EIAC_OA_XWorkQueue.asmx</value>
            </setting>
            <setting name="Longtek_HR_CMMS_ServiceAgent_ESS_GET_WS_ESS_GET_WS" serializeAs="String">
                <value>http://10.16.25.81/ESHORE.EAI.ESS.WS/ESS_GET_WS.asmx</value>
            </setting>
        </Longtek.HR.CMMS.ServiceAgent.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
