<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="combres" type="Combres.ConfigSectionSetting, Combres, Version=2.0.0.0, Culture=neutral, PublicKeyToken=49212d24adfbe4b4"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="multiDatabase" type="EAFrame.Core.Data.Config.MultiDatabaseSection, EAFrame.Core" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
  </configSections>
  <combres definitionUrl="~/App_Data/combres.xml"/>
  <appSettings>
    <!--程序的程序的运行模式 Debug 调试, Release 发布-->
    <add key="RunMode" value="Debug"/>
    <!--上传文件，生成临时文件的存放目录-->
    <add key="TempFileDirectory" value="TempFileDirectory"/>
    <!--人员照片存放路径-->
    <add key="EmployeePhotoDirectory" value="FileEmployeePic"/>
    <!--后备经理组织树-->
    <add key="CandidateManagerOrgTreeThree" value="OR1500025055,OR1500025056,OR1500025057"/>
    <add key="CandidateManagerOrgTreeTwo" value="OR1500025055,OR1500025056,OR1200000535"/>
    <add key="AppID" value="LAMS"/>
  </appSettings>
  <cachingConfiguration defaultCacheManager="DefaultCacheManager">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    </backingStores>
    <cacheManagers>
      <add name="DefaultCacheManager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
      <add name="WcfCacheManager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
    </cacheManagers>
  </cachingConfiguration>
  <multiDatabase defaultDatabase="LAMS">
    <databases>
      <add name="LAMS" nh-config-file="CfgFiles\LAMS.SQL.cfg.xml"/>
    </databases>
  </multiDatabase>
</configuration>
